*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bayon&family=Momo+Trust+Display&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Stack+Sans+Text:wght@200..700&display=swap");
html {
  font-size: 62.5%; /* 1rem = 10px */
}
body {
  font-family: "Bayon", sans-serif;
  font-size: 1.8rem;
  background-color: #010101;
  color: var(--text-light);
}
h1,
h2 {
  font-size: 2.5rem;
  color: var(--primary-color);
}
span {
  display: inline-block;
}
a {
  text-decoration: none;
  color: inherit;
}
:root {
  --text-light: #ffffff;
  --text-dark: #000000;
  --primary-color: #ff3d00;
  --text-color: blueviolet;
}
.container {
  max-width: 90%;
  background-color: #ff3d00;
  margin: auto;
}
.bg {
  width: 100%;
  /* height: 100vh; */
  background-image: url("IMG/590107034_1620473585997770_6854213281551043745_n.png");
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.content {
  height: 500px;
}
.logo {
  margin: 6rem;
  /* background-color: #ff3d00; */
}
.poster {
  width: 90%;
  height: 250px;
}
.poster img {
  height: 100%;
  width: 100%;
}

.txt-movie {
  /* background-color: blue; */
  height: 200px;
  width: 90%;
  margin-top: 3.5rem;
}
.txt-movie > span {
  font-size: 5rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.2;
}
.txt-movie span > span {
  color: var(--text-color);
  font-weight: bold;
}

.input-group {
  margin-top: 3.5rem;
  width: 90%;
  height: 60px;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  border: 2px solid var(--text-color);
  /* justify-content: center; */
  overflow: hidden;
  border-radius: 5px;
}
.input-group > span {
  width: 20%;
  /* background-color: var(--primary-color); */
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.input-group > span > i {
  font-size: 2.5rem;
  color: white;
}
.input-group > input {
  display: block;
  width: 90%;
  height: 100%;
  font-size: 2.5rem;
  border: none;
  background-color: transparent;
  color: var(--text-light);
}
.input-group input:focus {
  outline: none;
}
.input-group:hover {
  cursor: pointer;
  border-color: white;
}
.container-width {
  max-width: 90%;
  margin: auto;
  /* background-color: aqua; */
}

.slide-section {
  margin-top: 5rem;
  /* width: 90%; */
  height: 30rem;
  display: flex;
  flex-direction: column;
  gap: 5%;
  /* background-color: red; */
}
.slide-section .txt {
  display: flex;
  align-items: center;
  font-size: 5rem;
  color: var(--text-light);
  font-weight: 500;
  width: 100%;
  height: 15%;
  /* background-color: blue; */
}
.slide {
  margin-top: 2rem;
  gap: 3%;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80%;
  /* background-color: aqua; */
}
.slide-one {
  display: flex;
  width: 19.9%;
  height: 100%;
  /* background-color: rgb(174, 0, 255); */
}
.slide-one .text {
  width: 20%;
  height: 100%;
  /* background-color: #ff3d00; */
}
.slide-one .text img {
  width: 100%;
  height: 100%;
}
.slide-one .img {
  width: 80%;
  height: 100%;
  /* background-color: rgb(81, 255, 0); */
}
.slide-one .img img {
  width: 100%;
  height: 100%;
}

.slide-two {
  display: flex;
  width: 19.9%;
  height: 100%;
  /* background-color: yellow; */
}
.slide-two .text {
  width: 20%;
  height: 100%;
  /* background-color: #ff3d00; */
}
.slide-two .text img {
  width: 100%;
  height: 100%;
}
.slide-two .img {
  width: 80%;
  height: 100%;
  /* background-color: rgb(81, 255, 0); */
}
.slide-two .img img {
  width: 100%;
  height: 100%;
}

.slide-three {
  display: flex;
  width: 19.9%;
  height: 100%;
  /* background-color: brown; */
}
.slide-three .text {
  width: 20%;
  height: 100%;
  /* background-color: #ff3d00; */
}
.slide-three .text img {
  width: 100%;
  height: 100%;
}
.slide-three .img {
  width: 80%;
  height: 100%;
  /* background-color: rgb(81, 255, 0); */
}
.slide-three .img img {
  width: 100%;
  height: 100%;
}

.slide-four {
  width: 19.9%;
  display: flex;
  height: 100%;
  /* background-color: rgb(255, 0, 140); */
}
.slide-four .text {
  width: 20%;
  height: 100%;
  /* background-color: #ff3d00; */
}
.slide-four .text img {
  width: 100%;
  height: 100%;
}
.slide-four .img {
  width: 80%;
  height: 100%;
  /* background-color: rgb(81, 255, 0); */
}
.slide-four .img img {
  width: 100%;
  height: 100%;
}

.slide-five {
  display: flex;
  width: 19.9%;
  height: 100%;
  /* background-color: chartreuse; */
}
.slide-five .text {
  width: 20%;
  height: 100%;
  /* background-color: #ff3d00; */
}
.slide-five .text img {
  width: 100%;
  height: 100%;
}
.slide-five .img {
  width: 80%;
  height: 100%;
  /* background-color: rgb(81, 255, 0); */
}
.slide-five .img img {
  width: 100%;
  height: 100%;
}

.main-section {
  margin-top: 5rem;
}
.txt-popular {
  font-size: 3rem;
  color: var(--text-light);
  font-weight: 500;
}
.grid-section {
  margin-top: 2rem;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr;
  gap: 0.5%;
}
.cart {
  padding: 2.5rem;
  height: 550px;
  /* background-color: blueviolet; */
  border: 2px solid purple;
  border-radius: 1.5rem;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
.img-cart {
  width: 100%;
  height: 80%;
  /* background-color: blue; */
  /* object-fit: fill; */
}
.img-cart img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.cart p {
  color: var(--text-light);
  font-size: 2.5rem;
  margin-top: 1rem;
}
.cart ul {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
  margin-top: 0.5rem;
  color: var(--text-light);
}
.cart ul li {
  list-style-type: none;
}
.cart ul li:first-child {
  color: gold;
}
.cart ul li:nth-child(3),
:nth-child(4) {
  color: gray;
}
.cart:hover {
  background-color: purple;
  transition: 0.5s ease-in-out;
  transform: scale(1.1);
  box-shadow: 0px 0px 20px 3px whitesmoke;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .poster {
    width: 60%;
    height: 250px;
  }
  .poster img {
    height: 100%;
    width: 100%;
  }
  .txt-movie {
    width: 70%;
    /* background-color: blueviolet; */
    margin-top: 3.5rem;
  }
  .input-group {
    margin-top: 3.5rem;
    width: 90%;
    height: 60px;
  }
  .input-group > span {
    width: 20%;
    /* background-color: var(--primary-color); */
    height: 100%;
  }
}

/* Tablet Medium */
@media (min-width: 992px) {
  .poster {
    width: 30%;
    height: 300px;
  }
  .poster img {
    height: 100%;
    width: 100%;
  }
  .txt-movie {
    width: 30%;
    /* background-color: antiquewhite; */
    margin-top: 3.5rem;
  }
  .input-group {
    margin-top: 3.5rem;
    width: 50%;
    height: 60px;
  }
  .input-group > span {
    width: 10%;
    /* background-color: var(--primary-color); */
    height: 100%;
  }
  .main-section {
    margin-top: 7rem;
  }
  .txt-popular {
    font-size: 4rem;
  }
  .grid-section {
    gap: 3%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
  }
}

/* Laptop */
@media only screen and (min-width: 1200px) {
  .poster {
    width: 30%;
    height: 300px;
  }
  .poster img {
    height: 100%;
    width: 100%;
  }
  .txt-movie {
    width: 35%;
    /* background-color: antiquewhite; */
    margin-top: 3.5rem;
  }
  .input-group {
    margin-top: 3.5rem;
    width: 60%;
    height: 60px;
  }
  .input-group > span {
    width: 10%;
    /* background-color: var(--primary-color); */
    height: 100%;
  }
  .main-section {
    margin-top: 8rem;
  }
  .txt-popular {
    font-size: 5rem;
  }
  .grid-section {
    gap: 3%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto;
  }
}
